.attribution{
    font-size: 11px;
    text-align: center.attribution;
    color: hsl(228, 45%, 44%);
    text-align: center;
}
footer{
    bottom: 0;
    width: 100%;
}
p{
    font-size: 12px;
    text-align: center;
    padding-bottom: 0px;
    color: hsl(220, 15%, 55%);
}


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.container{
    max-width: 360px;
    margin: 0 auto;
}

.card{
    background-color: white;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}

.card img{
    width: 100%;
    border-radius: 12px;
}

.text{
    padding: 20px;
    margin: 4px;
}

.text h4{
    text.color: hsl(218, 44%, 22%);
    padding-bottom: 20px;
}